// styles for printing on paper
// elements within main content wrapper can be hidden for printing by using vuetify helper class .hidden-print-only
@media print
  body
    font-family: Helvetica, Arial, sans-serif

  .v-navigation-drawer,
  .v-navigation-drawer *,
  nav.v-toolbar,
  .v-footer,
  .v-menu__content,
  #ue_launcher
    display: none !important

  .v-navigation-drawer
    width: 0 !important

  .application
    background: transparent !important

    main
      margin: 0 !important
      padding: 0 !important

  .container
    padding-left: 0 !important
    padding-right: 0 !important

  .layout
    display: block
    margin: 0 !important

  img
    display: block
    width: 100%
    max-width: 100%
    height: auto
