# dependencies


# logs.
npm-debug.log

# Nuxt build


# Nuxt generate


# php/webstormfiles
.idea

# other logs
logs

# environment vars

# cypress environment vars
cypress.env.json

# OS Stuff
.DS_Store

.monitor
hotel.log
cypress/videos/
/init/
