// Misc

.fill-width
  width: 100% !important

.filter-grayscale
  filter: grayscale(1);

.pointer
  cursor pointer !important

  &.v-chip
    .v-chip__content
      cursor: pointer !important


.v-select-list .v-input--selection-controls:not(.v-input--hide-details) .v-input__slot
  // TEMP fix: remove in Vuetify v2* - hopefully
  margin-bottom: 0
