// include Vuetify's stylus color pack
@require '~vuetify/src/stylus/settings/_colors'
@require '~vuetify/src/stylus/generic/_colors'

// override Vuetify variables and add own variables
@require 'settings/_variables.styl'

// import Vuetify's main entry point
@require '~vuetify/src/stylus/main'

// override Vuetify's element and component styles and add own styles
@require 'elements/*'
@require 'trumps/*'
@require 'components/*'
@require 'print/*'
@require 'utilities/*'

