.code
  .code--header
    display: flex

  .code--label
    border-top-left-radius: 0
    border-top-right-radius: 0
    border-bottom-left-radius: 0

  .code--action
    border-top-left-radius: 0
    border-top-right-radius: 0
    border-bottom-right-radius: 0
    transition: all 0.2s ease-in

    &:hover
      opacity: 0.6

  kbd
    background: transparent

    &:after
      display: none
