// Overriding and custom datatable styles

// selected row
.v-datatable
  tr
    &.is-selected td
      background: #eee !important

.cell--truncate
  white-space: nowrap
  text-overflow:ellipsis
  overflow: hidden
  max-width:1px
