// Overriding and custom footer styles

.v-footer
  border-top: 1px solid rgba(0,0,0, .1)

  .v-btn
    min-width: 0
    margin-left: 0
    margin-right: 0

  &.float
    .v-btn:first-child
      margin-left: -16px;
    .v-btn--small:first-child
      margin-left: -8px;
