// Overriding and custom selection-controls styles

.v-input--hide-details .v-input__slot
  margin-bottom: 0 !important

.v-select .v-select__selections
  overflow: hidden
  flex-wrap: nowrap

.v-select.v-text-field input
  width: 0
