// Overriding and custom stepper styles

.v-stepper:not(.default-stepper)

  .v-stepper__wrapper
    height: 100% !important

  .v-stepper__items
    background-color aquamarine
    overflow-y: visible

  .v-stepper__wrapper
    overflow: visible
